<header class="header header-center undefined">
    <div class="container-fluid">
        <!-- Logos-->
        <div class="inner-header"><a class="inner-brand" href="index.html"><%= image_tag "logo.png", class: "brand-dark", width: "77px", alt:""%> <%= image_tag "logo-light.png", class: "brand-light", width: "77px", alt: ""%></a></div>
        <!-- Navigation-->
        <div class="inner-navigation collapse">
            <div class="inner-navigation-inline">
                <div class="inner-nav">
                    <ul>
                        <!-- Home-->
                        <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#">Home</a>
                           
                        </li>
                        <!-- Home end-->
                        <!-- Pages-->
                        <li class="menu-item-has-children"><a href="#">Pages</a>
                            
                        </li>
                        <!-- Pages end-->
                        <!-- Portfolio-->
                        <li class="menu-item-has-children"><a href="#">Portfolio</a>
                            
                        </li>
                        <!-- Portfolio end-->
                        <!-- Blog-->
                        <li class="menu-item-has-children"><a href="#">Blog</a>
                           
                        </li>
                        <!-- Blog end-->
                        <!-- Shop-->
                        <li class="menu-item-has-children"><a href="#">Shop</a>
                           
                        </li>
                        <!-- Shop end-->
                     
                        <!-- Simple-->
                        <li><a href="start.html">All Demos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>