<header class="header header-center undefined">
    <div class="container-fluid">
        <!-- Logos-->
        <div class="inner-header"><a class="inner-brand" href="index.html"><%= image_tag "logo.png", class: "brand-dark", width: "77px", alt:""%> <%= image_tag "logo-light.png", class: "brand-light", width: "77px", alt: ""%>
                <!-- Or simple text-->
                <!-- Core--></a></div>
        <!-- Navigation-->
        <div class="inner-navigation collapse">
            <div class="inner-navigation-inline">
                <div class="inner-nav">
                    <ul>
                        <!-- Home-->
                        <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#">Home</a>
                           
                        </li>
                        <!-- Home end-->
                        <!-- Pages-->
                        <li class="menu-item-has-children"><a href="#">Contact Us</a>
                            
                        </li>
                        <!-- Pages end-->
                        <!-- Portfolio-->
                        <li class="menu-item-has-children"><a href="#">About Us</a>
                            
                        </li>
                        <!-- Portfolio end-->
                        <!-- Blog-->
                        <li class="menu-item-has-children"><a href="#">My Account</a>
                           
                        </li>
                        
                     
                        <!-- Simple-->
                        <li><a href="start.html">Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <!-- Mobile menu-->
        <div class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
    </div>
</header>
