<div class="container content-container">
    <div class="content">
        <div id="basic-components">
            <h3 class="sub-title text-center text-regular">BASIC COMPONENTS</h3>
        </div>
        <div class="spacer-2x">&nbsp;</div>
        <h4 class="sub-title text-regular mb-3">NAVBARS</h4>
        <div class="spacer">&nbsp;</div>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary-faded">
            <div class="container full-width">
                <a class="navbar-brand" href="#x"><img src="images/logo.png" alt=""></a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button><!-- / navbar-toggler -->

                <div class="collapse navbar-collapse" id="navbar-toggle">
                    <ul class="navbar-nav ml-auto mr-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#x">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#x">FEATURES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#x">PRICING</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#x" id="dropdown001" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DROPDOWN</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown001">
                                <a class="dropdown-item" href="#x">ACTION</a>
                                <a class="dropdown-item" href="#x">ANOTHER ACTION</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#x">SEPARATED LINK</a>
                            </div>
                        </li>
                    </ul>
                </div>    
            </div>   
        </nav>  
    </div>  
</div>        
           
<h1> Product index </h1>